- rank = suggestion_counter + 1

%div.row.suggestion-row{ "suggestion-id" => "#{suggestion.id}", "data-votes" => suggestion.votes, "data-updated" => suggestion.updated_at_as_integer}
  %div.col-xs-12
    %div.col-xs-1
      %span.pull-left
        %h4.rank{ :id => "suggestion_#{suggestion.id}_rank"}
          #{rank}
    %div.col-xs-10
      %span.pull-left
        %h4
          #{suggestion.suggestion}
    %div.col-xs-1
      %span.pull-right
        %h4.number-of-votes{ :id => "suggestion_#{suggestion.id}_votes"}
          #{suggestion.votes}