%nav.navbar.navbar-default.navbar-fixed-bottom.voting-footer{ :style => "display:"}

  = form_for @suggestion, url: campaign_suggestion_index_url(@suggestion, campaign_id: @campaign.id), remote: true, html: { class: 'horizontal-form' } do |f|
    .form-group
      .col-xs-10
        = f.text_field :suggestion, class: 'form-control', placeholder: 'SUGGESTION'
      %button.pull-left.col-xs-1.suggestion-submit-button{ id: 'suggestion-submit'}
        %i.fa.fa-paper-plane

%nav.navbar.navbar-default.navbar-fixed-bottom.timeout-footer{ :style => "display:none"}
  .col-xs-12.text-center
    #countdown