%input{:type =>'hidden', :id => 'voting-page', :value => @campaign.id}

#suggestion_wrapper{:style => "display:none", "campaign-id" => @campaign.id}
  = render partial: 'suggestion/suggestion', collection: @suggestions