= navbar fixed: :top do
  = navbar_header brand: 'VOTR', brand_link: '/home'
  = navbar_collapse do
    = navbar_group class: 'foo', id: 'menu' do
      = navbar_item "/" do
        %span.glyphicon.glyphicon-th
        Campaigns
      / = navbar_item "About Us", '/about-us'
      / = navbar_item '/contact' do
      /   %span.glyphicon.glyphicon-hand-right
      /   Contact Us!
      / = navbar_dropdown "Stuff" do
      /   = navbar_dropdown_header 'Great stuff!'
      /   = navbar_item "One", '/one'
      /   = navbar_item "Two", '/two'
      /   = navbar_item "Three", '/three'
      /   - if true # check if user is admin, maybe like "if current_user.try(:admin?)"
      /     = navbar_dropdown_divider
      /     = navbar_item "Admin Dashboard", '/admin'
      /     = navbar_item "Users", '/admin/users'
    = navbar_group align: 'right' do
      - if true # check if user is logged in, maybe like "if current_user.present?"
        = navbar_item '/contact' do
          %span.glyphicon.glyphicon-user
          Login
      - else
        = navbar_item "Log In", '/login'
