%div.col-lg-3
	-if @campaign.persisted?
		%ul.nav.nav-pills.nav-stacked.campaign-options
			%li{:role => 'presentation', :class => ("active" if "details" == page)}
				%a{:href => campaign_path(@campaign)} 
					%span.glyphicon.glyphicon-list-alt
					Campaign Details

			%li.divider{:role => "separator"}

			%li{:role => 'presentation', :class => ("active" if "activate" == page)}
				%a{:href => activation_campaign_path(@campaign)} 
					%span.fa.fa-power-off
					Activation

			%li{:role => 'presentation', :class => ("active" if "moderate" == page)}
				%a{:href => campaign_moderate_path(@campaign)} 
					%span.glyphicon.glyphicon-eye-open
					Moderate

			%li.divider{:role => "separator"}

			%li{:role => 'presentation', :class => ("active" if "voting" == page)}
				%a{:href => campaign_voting_path(@campaign)} 
					%span.glyphicon.glyphicon-bullhorn
					Voting Screen

			%li{:role => 'presentation', :class => ("active" if "big" == page)} 
				%a{:href => '#'} 
					%span.glyphicon.glyphicon-blackboard
					Big Screen

			%li.divider{:role => "separator"}

			%li{:role => 'presentation', :class => ("active" if "clone" == page)}
				%a{:href => '#'} 
					%span.fa.fa-clone
					Clone

			%li.campaign-option-delete{:role => 'presentation', :class => ("active" if "delete" == page)}
				%a{:href => '#'} 
					%span.glyphicon.glyphicon-trash
					Delete
	- else
		%ul.nav.nav-pills.nav-stacked.campaign-options
			%li{:role => 'presentation', :class => ("active" if "details" == page)}
				%a{:href => "#"} 
					%span.glyphicon.glyphicon-plus-sign
					Create Campaign