- if is_new_campaign
	%div.col-lg-3
	
		%a{:id => "new-campaign"}
	
			.campaign.new-campaign
				%row.text-center
					%h1.col-lg-12.glyphicon.glyphicon-plus
					%h2.col-lg-12.text-center Add New
- else
	
	%a{:href => campaign_path(campaign)}
		%div.col-lg-3
			%div.campaign.text-center

				= render "campaigns/campaign_name_options", campaign: campaign
				
				= render "campaigns/campaign_audio_cue", audio_cue: campaign.audio_cue

				= render "campaigns/campaign_pin", pin: campaign.pin