- max_name_length = 37
- name_exceeds_max_length = campaign.name.length > max_name_length

%div.col-lg-12.text-center
	- if name_exceeds_max_length
		%h4{:title => campaign.name} #{campaign.name[0,max_name_length].strip}...  
	- else
		%h4{:title => campaign.name} #{campaign.name}


%div.campaign-dropdown
	%button.dropdown-toggle{"type" => 'button', "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
		%h6.col-lg-1.glyphicon.glyphicon-option-vertical
	%ul.dropdown-menu
		%li
			%a{:href => '#'} Edit
		%li
			%a{:href => '#'} Moderate
		%li.divider{:role => 'separator'}
		%li
			%a{:href => '#'} Voter Screen
		%li
			%a{:href => '#'} Big Screen Display