%div.col-lg-10.text-center
	%h4{:title => campaign.name} #{campaign.name[0,37]}...  
%div.col-lg-1.campaign-dropdown-wrapper
	%button.dropdown-toggle.campaign-dropdown{"type" => 'button', "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
		%h6.col-lg-1.glyphicon.glyphicon-option-vertical
	%ul.dropdown-menu
		%li
			%a{:href => '#'} Edit
		%li
			%a{:href => '#'} Edit
		%li
			%a{:href => '#'} Edit
		%li
			%a{:href => '#'} Edit