- in_edit_mode = @campaign.persisted?

= stylesheet_link_tag "bootstrap-switch.min.css"

= form_for @campaign, remote: true, html: { id: "campaign_form", :style => "margin-bottom: 2px" } do |f|
	.panel.panel-default
		.panel-heading 
			Details
		.panel-body
			
			.row{ :style => "padding-bottom: 4px" }
				.col-lg-12
					= f.label :name, class: 'control-label'
				.col-lg-12
					= f.text_field :name , class: 'form-control'
			
			.row{ :style => "padding-bottom: 4px" }
				.col-lg-12
					= f.label :audio_cue, class: 'control-label'
				.col-lg-12
					= f.select :audio_cue, CampaignHelper.get_audio_cues, {}, { :class => 'form-control' } 
			
			.row{ :style => "padding-bottom: 4px" }
				.col-lg-12
					= f.label :pin, class: 'control-label' if in_edit_mode
				.col-lg-12
					= f.text_field :pin , class: 'form-control', readonly: true if in_edit_mode
			
			.row{ :style => "padding-bottom: 4px" }
				.col-lg-12
					= f.label :initial_suggestions, "Initial suggestions (one per line)", class: 'control-label'
				.col-lg-12
					= f.text_area :initial_suggestions, class: 'form-control', rows: 4

	.panel.panel-default
		.panel-heading
			.row
				.col-lg-6.col-md-6.col-sm-6{ :style => "line-height: 30px" }
					%a.help-icon.fa.fa-info-circle.help-icon{ "data-toggle" => "tooltip", "data-html" => "true", "title" => "You can <b>allow</b> or <b>block</b> voters from submitting suggestions." }
					Suggestions
				.col-lg-6.col-md-6.col-sm-6.text-right
					= f.check_box :allow_suggestions
		.panel-body{ :id => "suggestion-options",:style => "display: none"}
			.row
				.col-lg-8.col-md-8.col-sm-8{ :style => "line-height: 35px"}
					%a.help-icon.fa.fa-info-circle.help-icon{ "data-toggle" => "tooltip", "data-html" => "true", "title" => "You can specify the duration a voter must wait <b>between suggestion submissions</b>" }
					= f.label "Time between suggestion submissions (seconds)", class: 'control-label'
				.col-lg-4.col-md-4.col-sm-4.pull-right.text-right
					= f.select :duration_between_suggestions, CampaignHelper.get_duration_options_between_suggestions, {}, { :class => 'form-control' } 



	.panel.panel-default
		.panel-heading 
			Moderate
		.panel-body
			.row{ :style => "padding: 10px"}
				.col-lg-6.col-md-6.col-sm-6{ :style => "line-height: 35px;"}
					%a.help-icon.fa.fa-info-circle.help-icon{ "data-toggle" => "tooltip", "data-html" => "true", "title" => "You can specify if you want to <b>approve voter suggestions</b> before they are available for voting" }
					= f.label "Approve voter suggestions"
				.col-lg-6.col-md-6.col-sm-6.pull-right.text-right
					= f.check_box :approve_suggestions

			.row{ :style => "padding: 10px" }
				.col-lg-6.col-md-6.col-sm-6{ :style => "line-height: 35px"}
					%a.help-icon.fa.fa-info-circle.help-icon{ "data-toggle" => "tooltip", "data-html" => "true", "title" => "Should the current suggestion be <b>automatically</b> or <b>manually</b> advanced?" }
					= f.label "Advance current suggestion"
				.col-lg-6.col-md-6.col-sm-6.pull-right.text-right
					= f.check_box :manual_advance

			.row{ :id => "current-suggestion-duration-wrapper", :style => "padding: 10px"}
				.col-lg-7.col-md-7.col-sm-7{ :style => "line-height: 35px"}
					%a.help-icon.fa.fa-info-circle.help-icon{ "data-toggle" => "tooltip", "data-html" => "true", "title" => "How long should a suggestion be <b>current</b>?" }
					= f.label "Current Suggestion Duration (minutes)", class: 'control-label'
				.col-lg-5.col-md-5.col-sm-5.pull-right.text-right
					= f.select :current_suggestion_ttl, CampaignHelper.get_current_suggesiton_ttl_options, {}, { :class => 'form-control text-right' }

	.text-right
		= f.submit :class => "action-button"

:javascript
	new EditCampaign()