%h1.text-center &nbsp;

= render "campaigns/campaign_menu", page: "activate", campagin: @campaign

%div.col-lg-9
	%div.panel.panel-default
		
		%div.panel-heading 
			Activation
			
		%div.panel-body
			%div.row
				%div.col-lg-6.col-lg-offset-3.text-center
					- if @campaign.active
						%a.btn.button.deactivate-button{:type => "submit", :href => deactivate_campaign_path}
							%span.fa.fa-power-off
							Deactivate
					-else
						- if @campaign.was_active
							%p Campaign closed
							%p Campaigns can only be activated once.
							%a.disabled-button.btn.button.activate-button{:type => "submit", :disabled => "true", "data-original-title" => "Campaigns can only be activated once"}
								%span.fa.fa-power-off
								Activate
						-else
							%a.btn.button.activate-button{:type => "submit", :href => activate_campaign_path}
								%span.fa.fa-power-off
								Activate