%h1.text-center &nbsp;

= render "campaigns/campaign_menu", page: "details", campagin: @campaign

.col-lg-9
  = render "campaigns/form"

- @campaign.errors.each do |attribute, error|
  :javascript 
    new Error("campaign_#{attribute}", "#{error}")