%h1.text-center Campaigns

%div.row
  = render "campaigns/campaign", is_new_campaign: true
  - @campaigns.each do |c|
    = render "campaigns/campaign", is_new_campaign: false, campaign: c

= render "campaigns/new_campaign_modal", campaign: @campaign

:javascript
  new Campaign()