/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome";
@import "bootstrap-sprockets";	
@import "bootstrap";

body {
	font-family: 'Varela Round', sans-serif;
  padding-bottom: 100px;
}

.campaign {
  width: 100%;
  height: 180px;
  padding-top: 10px;
  margin-top: 16px;
  cursor: pointer;
  background-color: #D4ADCF;
  border-radius: 0px
}

.new-campaign {
	padding-top: 20px;
	background-color: #84E296;
	border: none
}

a .campaign {
	color: #777;
}

a .new-campaign , {
	color: #777;
}
	
.campaign-dropdown {
  position: absolute;
  margin-left: -35px;
  display: inline;
}

.dropdown-toggle {
	background: none;
  border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #856084;
}

.nav-pills > li > a {
	border-radius: 0px;
}

.campaign-options li.divider {
	border-top: 1px solid #ddd;
}

.campaign-label {
	margin-right: 16px;
}

.nav-pills > li.campaign-option-delete > a {
	color: #C52F24;
}

.campaign-options li a span {
    margin-right: 26px;
}

.button {
	border-radius: 0px;
}

.deactivate-button {
	background-color: #C52F24;
	color: white;
	height: 50px;
	padding-top: 15px;
}

.activate-button,.moderate-advance-button {
	background-color: #7bc588;
	color: white;
	height: 50px;
	padding-top: 15px;
}

.disabled-button {
	background-color: grey;
	color: #ddd;
}

.disabled-button :hover {
	background-color: grey;
	color: #ddd;
}

.modal-content {
	border-radius: 0px;
}

.btn-default {
	border-radius: 0px;
}

.modal-header {
	background-color: #856084;
	color: white;
}

.panel {
	border-radius: 0px;
}

.votr-live {
  color: #C52F24;
}

.top-vote {
  padding-right: 10px;
}

.top-suggestion-rank {
  width: 40px;
  padding-right: 5px;
}

.number-of-votes {
  
}

.suggestion-rank {
  
}

.voting-footer, .timeout-footer{
  background-color: #DDE1E4;
  padding-top: 10px; 
  margin: 0px;
  height: 80px;
}

.timeout-footer{
  padding-top: 2px;
  background-color: #C1CAD6
}

.suggestion-text-input {
  display: inline-block;
}

.suggestion-submit {
  height: 34px;
  display: inline-block;
}


.suggestion-header-row {
  border-bottom: 1px solid #d2d8d4;
}

.voting-menu > .container > .navbar-header > button {
  margin-top: 20px
}

.suggestion-row {
  border-bottom: 1px solid #d2d8d4;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.suggestion-row:first-child h4{
  font-size: 30px;
  padding-bottom: 5px;
}

.suggestion-row-voted {
  background-color: #84E296;
  color: #856084;
}

.voting-footer .input-group {
    display: inherit;
}

.remove-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.suggestion-submit-button {
  width: 34px;
  height: 34px;
  padding-left: 8px;
}

.suggestion-submit-button-disabled {
  color: grey;
}

.overview-suggestion {
  height: 100px;
  border: 1px solid black;

}

.moderate-advance-button {
  margin-top: 20px;
}

.moderate-next-suggestion > div {
  margin-top: 50px;
}

.moderate-actions {
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.moderate-actions.approve {
  color: #7bc588;
}

.moderate-actions.reject {
  color: #C52F24;
}

.full-width {
  width: 100%;
}

.pin-input, .nickname-input {
  font-size: 36px;
}

.nickname-input {
  font-size: 20px;
}

.pin-amber {
  color: #FFC07F;
  font-size: 60px;
}

.pin-green {
  color: #84E296;
  font-size: 60px;
}

.pin-red {
 color: #C52F24; 
 font-size: 60px;
}

.pin-white {
  color: #FFFFFF;
  font-size: 60px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.action-button:hover {
  background-color: #337ab7;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  line-height: 10px;
  border: 1px solid #337ab7;
}

.action-button{
  text-transform: uppercase;
  padding: 20px;
  line-height: 10px;
  background-color: #fff;
  color: #337ab7;
  border: 1px solid #856084;
}

.field-with-errors {
  color: #C52F24;
}

.control-with-errors {
  background-color: hsla(3, 100%, 93%, 0.51)
}

.help-icon:hover{
  border: 0px;

}

.help-icon {
  cursor: hand;
  color: #337ab7;
  font-size: 18px;
  padding-right: 5px;
  white-space: nowrap;
}