%head
  = action_cable_meta_tag
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Varela+Round"
  = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"

  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

= render "layouts/page_title"