#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4#myModalLabel.modal-title.text-center
					#{flash[:title]}
			.modal-body.text-center
				#{flash[:notice]}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
		$('#myModal').modal('toggle')	