%html{ lang: "en"}

  = render "layouts/head"

  %body
    -# Ideally this would be inside the head, but turbolinks only evaluates page-specific JS in the body.
    = yield :scripts_body_top

    = render "layouts/nav/default_top"

    = render "layouts/page"

    = render "layouts/nav/default_bottom"

    = yield :scripts_body
