%html{ lang: "en"}

  = render "layouts/head", include_action_cable: true

  %body{ :style => "overflow-x: hidden"}
    -# Ideally this would be inside the head, but turbolinks only evaluates page-specific JS in the body.
    = yield :scripts_body_top

    %div{'style' => 'margin-bottom: 50px'}  
      = render "suggestion/nav/default_top"

    %row.container{ :id => 'fred', :style => 'padding-bottom: 76px; display: none'}
      .row
        .col-xs-12
          = yield
          = render "suggestion/suggestion_form" if @campaign.allow_suggestions

    - if @campaign.was_active_is_inactive
      .vertical-center
        .col-xs-12.col-sm-6.col-sm-offset-3.text-center
          .alert.alert-warning.text-center{ :role => "alert" }
            %b Campaign has ended
    -else
      #voting-setup.vertical-center
        %row.container{ :id => 'enter-pin', :style => 'display:' }
          .row
            
            .jumbotron.col-xs-12.col-sm-6.col-sm-offset-3.text-center{ :id => "pin-input-wrapper", :style => 'display:' }
              %h1
                %i.fa.fa-lock.pin-amber{ :id => 'pin-icon'}
              %h1{ :style => "padding-top: 10px"}
                %input.text-center.pin-input{ :id => 'pin-input', :type => 'text', :placeholder => 'Enter PIN', :style => 'width: 180px', :maxlength => '4'}

            .jumbotron.col-xs-12.col-sm-6.col-sm-offset-3.text-center{ :id => 'enter-nickname', :style => 'display: none' }
              %h1
                %i.glyphicon.glyphicon-user
              %h2{ :style => "padding-top: 10px; padding-bottom: 20px"}
                %input.form-control.text-center.nickname-input{ :id => "nickname", :type => 'text', :placeholder => @random_nickname, :style => 'width: 100%; padding-left: 5px; padding-right: 5px'}
              %button.btn.btn-success{ :id => 'submit-nickname' }
                %h4
                  That's my nickname!            

      = yield :scripts_body

:javascript
  new Suggestion(#{@campaign.duration_between_suggestions}, #{@campaign.pin}, #{@campaign.id}, "#{@client_id}")