%h5 &nbsp;
.col-lg-12
  %table.table.table-hover
    %thead
      %tr
        %th Suggestion 
        %th.text-right Actions
    %tbody{ id: "moderate-approve-suggestions"}
      = render partial: 'moderate/row', collection: @suggestions_approved, as: :suggestion, locals: {show_approve_action: false, show_reject_action: true, tab: :approved}