- if @campaign.was_active
  .alert.alert-warning.text-center{ :role => "alert" }
    %b Campaign Closed
    %br
    = CampaignHelper.explain_closed_reason(@campaign.closed_reason)
- else
  .alert.alert-info.text-center{ :role => "alert" }
    %strong
      Campaign not active!