%h5 &nbsp;

#overview-suggestion.col-lg-12
  - if @campaign.active
    .row
      #current-suggestion.col-lg-4.text-center.overview-well
        %h3
          Current Suggestion
        #current-suggestion-text
          #{@current_suggestion}
        %div
          #countdown{ "data-countdown" => "#{@remaining_duration_as_current}"}

      .col-lg-4.text-center.overview-well
        %h3
          Advance
        %a.btn.button.moderate-advance-button{:type => "submit", :href => ''}
          %span.fa.fa-fast-forward
          Next Suggestion

      #next-suggestion.col-lg-4.text-center.moderate-next-suggestion
        %h3
          Next Suggestion
        #next-suggestion-text
          #{@most_voted_suggestion}

  - else
    = render partial: 'moderate/not_active', campaign: @campaign

:javascript
  new Overview()