%h5 &nbsp;
.col-lg-12
  %table.table.table-hover
    %thead
      %tr
        %th Suggestion 
        %th.text-right Actions
    %tbody{ id: "moderate-pending-suggestions"}
      = render partial: 'moderate/row', collection: @suggestions_pending_approval, as: :suggestion, locals: {show_approve_action: true, show_reject_action: true, tab: 'pending'}