%h5 &nbsp;
.col-lg-12
  %table.table.table-hover
    %thead
      %tr
        %th Suggestion
        %th.text-right Actions
    %tbody
      = render partial: 'moderate/row', collection: @suggestions_rejected, as: :suggestion, locals: {show_approve_action: true, show_reject_action: false, tab: 'rejected'}