%tr
  %td #{suggestion.suggestion}
  %td.text-right
    - if show_approve_action 
      %a{ :remote => true, :href => approve_campaign_suggestion_url(@campaign, suggestion, { :tab => tab } ) }
        %span.moderate-actions.approve.glyphicon.glyphicon-ok-circle

    - if show_reject_action 
      %a{ :remote => true, :href => reject_campaign_suggestion_url(@campaign, suggestion, { :tab => tab } ) }
        %span.moderate-actions.reject.glyphicon.glyphicon-remove-circle