%tr
  %td #{suggestion.suggestion}
  %td.text-right
    
    - if show_approve_action
      %a{ :href => "/campaigns/#{campaign.id}/suggestion/#{suggestion.id}/approve?tab=pending" }
        %span.moderate-actions.approve.glyphicon.glyphicon-ok-circle

    - if show_reject_action 
      %a{ :href => "/campaigns/#{campaign.id}/suggestion/#{suggestion.id}/reject?tab=pending" }
        %span.moderate-actions.reject.glyphicon.glyphicon-remove-circle