- pending_approval_count = @suggestions_pending_approval.count
- pending_badge_class = pending_approval_count < 1 ? "display: none" : ""
= action_cable_meta_tag

%h1.text-center &nbsp;

%input{:type =>'hidden', :id => 'moderate-page', :value => @campaign.id}

= render "campaigns/campaign_menu", page: "moderate", campagin: @campaign

.col-lg-9
  .panel.panel-default{ :style => "margin-bottom: 100px"}
    
    %div.panel-heading 
      %div.row
        %div.col-lg-2
          Moderate
    
    .panel-body

      / Nav tabs
      %ul.nav.nav-tabs{:id => 'moderate-tabs', :role => "tablist"}
        
        %li.active{:role => "presentation"}
          %a{:id => "tab-overview", "aria-controls" => "overview", "data-toggle" => "tab", :href => "#overview", :role => "tab"} 
            %i.fa.fa-info-circle
            Overview
        
        %li{:role => "presentation"}
          %a{:id => "tab-pending", "aria-controls" => "pending", "data-toggle" => "tab", :href => "#pending", :role => "tab"} 
            %i.fa.fa-question-circle
            Pending 
            %span.badge{ :id => 'pending-count', "data-value" => pending_approval_count, :style => pending_badge_class }
              #{pending_approval_count}
        
        %li{:role => "presentation"}
          %a{:id => "tab-approved", "aria-controls" => "approved", "data-toggle" => "tab", :href => "#approved", :role => "tab"} 
            %i.fa.fa-check-circle-o
            Approved
       
        %li{:role => "presentation"}
          %a{:id => "tab-rejected", "aria-controls" => "rejected", "data-toggle" => "tab", :href => "#rejected", :role => "tab"} 
            %i.fa.fa-times-circle-o
            Rejected
      / Tab panes
      .tab-content
        #overview.tab-pane.active{:role => "tabpanel"}
          = render partial: 'moderate/overview'
        
        #pending.tab-pane{:role => "tabpanel"}
          = render partial: 'moderate/pending', :@suggestions_pending_approval => @suggestions_pending_approval
        
        #approved.tab-pane{:role => "tabpanel"}
          = render partial: 'moderate/approved', :@suggestions_approved => @suggestions_approved
        
        #rejected.tab-pane{:role => "tabpanel"}
          = render partial: 'moderate/rejected', :@suggestions_rejected => @suggestions_rejected

          
:javascript
  new Moderate("#{@selected_tab}")